<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        <link rel="stylesheet" href="css/default.css">
    </head>
    <body>
        <div class="container is-fluid">
            <div class="columns">
                <!-- Side menu -->
                <div class="column is-2 is-hidden-mobile">
                    <div class="user">
                        <p>Welcome {{ user_name }}</p>
                    </div>
                    <div class='' id='menu-v'>
                        <aside class='menu'>
                            <p class='menu-label'>Accueil</p>
                            <ul class='menu-list'>
                                <li><a href='#'>Tableau de bord</a></li>
                            </ul>
                            <p class='menu-label'>Administration</p>
                            <ul class='menu-list'>
                                <li>Produits
                                    <ul>
                                        <li><a href='#'>Liste des produits</a></li>
                                        <li><a href='#'>Ajout d'un produit</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>

                <div class="column">
                    <!-- Navbar top -->
                    <div class="columns">

                    </div>

                    <!-- Content -->
                    <div class="columns">

                    </div>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/6c7241f45d.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>