<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <body>
        <div class="columns is-centered m-0">
            
            {% include "side_bar.html" %}

            <div class="column p-0">
                
                {% include "nav_bar.html" %}

                <div class="columns is-centered ml-0 mt-0 content">
                    <!-- Content -->
                    <div class="column ">
                        
                    </div>
                </div>

                {% include "footer.html" %}
            </div>
        </div>

        <script src="https://kit.fontawesome.com/6c7241f45d.js" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
    </body>
</html>