<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <div class="navbar-item" href="https://bulma.io">
            <p class="title is-uppercase logo">gestion de produits</p>
        </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="side_bar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">
                <p>Welcome {{ user }}</p>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button" href="index.php?action=logout">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</nav>