<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu_v">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">

        </div>
    
        <div class="navbar-end">
            <div class="navbar-item">
                <p>Welcome {{ user_name }}</p>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</nav>