<!-- Side menu -->
<div id='side_bar' class='pl-3 p-0' >
    <aside class='menu'>
        <p class='menu-label'>Accueil</p>
        <ul class='menu-list'>
            <li><a href='#'>Tableau de bord</a></li>
        </ul>
        <p class='menu-label'>Administration</p>
        <ul class='menu-list'>
            <li>Produits
                <ul>
                    <li><a href='produit.php'>Liste des produits</a></li>
                    <li><a href='edit.php'>Ajout d'un produit</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</div>