<div id="side_bar" class="column is-2 is-hidden-mobile p-0">
    <div class="logo d-flex ai pl-2">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </div> 
    <!-- Side menu -->
    <div class='mt-3 pl-2' id='menu_v'>
        <aside class='menu'>
            <p class='menu-label'>Accueil</p>
            <ul class='menu-list'>
                <li><a href='#'>Tableau de bord</a></li>
            </ul>
            <p class='menu-label'>Administration</p>
            <ul class='menu-list'>
                <li>Produits
                    <ul>
                        <li><a href='produit.php'>Liste des produits</a></li>
                        <li><a href='#'>Ajout d'un produit</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>
</div>