<!-- Side menu -->
<div id='side_bar' class='pl-3 pr-3' >
    <aside class='menu'>
        <ul class='menu-list menu_connection'>
            <li> <a href="index.php?action=logout">Déconnexion</a></li>
        </ul>
        <p class='menu-label'>Administration</p>
        <ul class='menu-list'>
            <li>Produits
                <ul>
                    <li><a href='produit.php' class="menu_link">Liste des produits</a></li>
                    <li><a href='edit.php' class="menu_link">Ajout d'un produit</a></li>
                </ul>
            </li>
        </ul>
    </aside>
</div>